# SSD 1 (creditor): no sustained I/O, stays idle and lends compute resources

[global]
Mode = 0
LogPeriod = 0
LogFile =
DebugLogFile =
LatencyLogFile = ssd_1_latency.txt
BandwidthLogFile =
ProgressPeriod = 1
Interface = 1
Scheduler = 0
SubmissionLatency = 3us
CompletionLatency = 2us

[generator]
io_size = 0
readwrite = read
blocksize = 4K
blockalign =
iomode = async
iodepth = 1
offset = 0
size =
thinktime = 0
randseed = 10270315
time_based = false
interleaved = 0
interleaveTime = 100
startTime = 0
